org/biogeomancer/ws/BioGeomancer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:bg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:bg" xmlns:intf="urn:bg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:bg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="Georeference">
    <complexType>
     <sequence>
      <element name="dataurl" type="xsd:string"/>
      <element name="datadelineator" type="xsd:string"/>
      <element name="interpreter" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GeoreferenceResponse">
    <complexType>
     <sequence>
      <element name="GeoreferenceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="GeoreferenceRequest">

      <wsdl:part element="impl:Georeference" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GeoreferenceResponse">

      <wsdl:part element="impl:GeoreferenceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="BioGeomancer">

      <wsdl:operation name="Georeference">

         <wsdl:input message="impl:GeoreferenceRequest" name="GeoreferenceRequest"/>

         <wsdl:output message="impl:GeoreferenceResponse" name="GeoreferenceResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BioGeomancerSoapBinding" type="impl:BioGeomancer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Georeference">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GeoreferenceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GeoreferenceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BioGeomancerService">

      <wsdl:port binding="impl:BioGeomancerSoapBinding" name="BioGeomancer">

         <wsdlsoap:address location="http://vote4pedro.berkeley.edu:8080/beta/services/BioGeomancer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
